<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}   
        <p>This site was created by Yash H. It uses data from mapbox.com and weatherstack.com APIs!</p>
        <img class="portrait" src="/img/robot.jpg" >
    </div>

   
    {{>footer}}

</body>

</html>